<h2>Enter Your Email To Change Your Password</h2>

<form action="/users/resetPass" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="submit" value="Submit">
</form>