<link rel="stylesheet" href="<%= assetPath('css/reset-pass-mail.css') %>">
<style>
    #reset-pass-mail-outer{
        background-image: url("<%= assetPath('images/Reset-password-person.png') %>");
    }
</style>
<div id="reset-pass-mail-outer">
    <div id="reset-pass-mail">
        <div><img src="<%= assetPath('images/password-reset-mail.png') %>" alt="Password-Reset"></div>
        <div id="reset-mail-form">
            <h3>Forgot Password</h3>
            <p>Enter Your Registered Email</p>

            <form action="/users/resetPass" method="POST">
                <input type="email" name="email" placeholder="Your Email" required>
                <button type="submit">Send Password Reset Link</button>
            </form>
        </div>
    </div>
</div>