<style>
    #sign-in-main{
        background-image: url("<%= assetPath('images/sign-in-background.jpg') %>");
    }
</style>
<link rel="stylesheet" href="<%= assetPath('css/signIn.css') %>">
<div id="sign-in-main">
    <div id="sign-in">
        <div class="sign-in-outer">
            <img src="<%= assetPath('images/welcome.jpg') %>" alt="Welocome">
        </div>
        <div class="sign-in-outer">
            <div>
                <h1>Sign In</h1>

                <form action="/users/create-session" method="POST" id="sign-in-form">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit"> <p> CONTINUE </p> </button>
                </form>
                <p id="forgot-password">
                    <a href="/users/resetPassForm">Forgot Password</a>
                </p>
                <p id="or-sign-in">OR</p>

                <form action="/users/auth/google" method="GET" id="google-sign-in">
                    <button type="submit"><img src="<%= assetPath('images/google-sign-in.png') %>" alt="Sign-In"></button>
                </form>
                <h4>Didn't have an Account? <a href="/users/sign-up">Sign Up</a></h4>
            </div>
        </div>
    </div>
</div>