<div>
    <p>Reset Your Password By clicking on following link</p>
    <br>
    <br>
    <p>
        <a href="http://socialbe.live/users/resetpass?to=<%= User_Pass.token %>">Click Here To Change Your Password</a>
    </p>
    <br>
    <br>
    <p>Thanks!</p>
</div>