#reset-pass-mail-outer{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    #reset-pass-mail{
        border: 1px solid black;
        text-align: center;
        position: sticky;
        top: 18%;
        margin-left: 33rem;
        height: 66vh;
        width: 30%;
        font-family: sans-serif;
        background: rgb(14,151,153);
        background: linear-gradient(336deg, rgba(14,151,153,1) 0%, rgba(13,177,148,0.919502835313813) 67%);
        div{
            margin-top: 1.5rem;
            img{
                height: 200px;
            }
        }
        #reset-mail-form{
            h3{
                font-size: 34px;
                color: rgb(243, 235, 199);
                margin: 0;
                margin-top: 0.6rem;
            }
            p{
                font-size: 18px;
                color: white;
            }
            form{
                input{
                    width: 67%;
                    margin-left: 4.6rem;
                    margin-bottom: 1.5rem;
                    height: 36px;
                    padding: 6px;
                    padding-left: 8px;
                    font-size: 15px;
                    display: block;
                    outline: none;
                    letter-spacing: 1px;
                    border-radius: 20px;
                    border: 1px solid red;
                }
                button{
                    background-image: linear-gradient(90deg,transparent, #fed757);
                    font-size: 15px;
                    width: 50%;
                    height: 44px;
                    padding: 6px;
                    font-weight: 550;
                    box-sizing: border-box;
                    border-radius: 50px;
                    background-size: 100%;
                    background-clip: padding-box;
                    color: rgb(27, 10, 128);
                    outline: none;
                    border: 4px solid rgba(246, 33, 33, 0.712);
                    &:hover{
                        box-shadow: 2px 2px black;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}